.game-arena {
  position : relative;
  margin : 50px auto;
  width : 600px;
  height: 600px;
  background-color: black;
  border: 1px solid #000;
}

.snake-dots {
  position: absolute;
  width : 2%;
  height: 2%;
  background-color : green;
  border: 1px solid black;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  z-index:1;
}